h2{
    color: #FAEBD7;
}

/* .carouselContainer{
background-color: #333333;
width: 80%;
margin-left: 30px;

} */

.genre img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }

  .genre-container {
    max-width: 100%;
    overflow-x: auto;
  }

  .genre img {
    width: 80px;
    height: auto;
    transition: transform 0.3s ease;
  }

  .genre img:hover {
    transform: scale(1.1);
  }
