<div class="carousel-container">
  <h2>Popular</h2>
  <app-carousel [moviesCard]="moviesCard"></app-carousel>
</div>

<h2>Romance</h2>
<div class="genre-container">
  <div class="d-flex flex-nowrap">
    <div class="genre d-inline-block mx-1" *ngFor="let movie of romanceMovies">
      <img class="imgPoster" [src]="getPosterUrl(movie.poster_path)" alt="{{ movie.title }}" />
    </div>
  </div>
</div>


<h2>Action</h2>
<div class="genre-container">
  <div class="d-flex flex-nowrap">
    <div class="genre d-inline-block mx-1" *ngFor="let movie of actionMovies">
      <img class="imgPoster" [src]="getPosterUrl(movie.poster_path)" alt="{{ movie.title }}" />
    </div>
  </div>
</div>

<h2>Comedy</h2>
<div class="genre-container">
  <div class="d-flex flex-nowrap">
    <div class="genre d-inline-block mx-1" *ngFor="let movie of comedyMovies">
      <img class="imgPoster" [src]="getPosterUrl(movie.poster_path)" alt="{{ movie.title }}" />
    </div>
  </div>
</div>

<h2>Science Fiction</h2>
<div class="genre-container">
  <div class="d-flex flex-nowrap">
    <div class="genre d-inline-block mx-1" *ngFor="let movie of scienceFictionMovies">
      <img class="imgPoster" [src]="getPosterUrl(movie.poster_path)" alt="{{ movie.title }}" />
    </div>
  </div>
</div>

<h2>Horror</h2>
<div class="genre-container">
  <div class="d-flex flex-nowrap">
    <div class="genre d-inline-block mx-1" *ngFor="let movie of horrorMovies">
      <img class="imgPoster" [src]="getPosterUrl(movie.poster_path)" alt="{{ movie.title }}" />
    </div>
  </div>
</div>

<!--
  <h2>Romance</h2>
  <div class="genre" *ngFor="let movie of romanceMovies">
    <img
      class="imgPoster"
      [src]="getPosterUrl(movie.poster_path)"
      alt="{{ movie.title }}"
    />
  </div>
  <h2>Action</h2>
  <div class="genre" *ngFor="let movie of actionMovies">
    <img
      class="imgPoster"
      [src]="getPosterUrl(movie.poster_path)"
      alt="{{ movie.title }}"
    />
  </div>
  <h2>Comedy</h2>
  <div class="genre" *ngFor="let movie of comedyMovies">
    <img
      class="imgPoster"
      [src]="getPosterUrl(movie.poster_path)"
      alt="{{ movie.title }}"
    />
  </div>

  <h2>Science Fiction</h2>
  <div class="genre" *ngFor="let movie of scienceFictionMovies">
    <img
      class="imgPoster"
      [src]="getPosterUrl(movie.poster_path)"
      alt="{{ movie.title }}"
    />
  </div>

  <h2>Horror</h2>
  <div class="genre" *ngFor="let movie of horrorMovies">
    <img
      class="imgPoster"
      [src]="getPosterUrl(movie.poster_path)"
      alt="{{ movie.title }}"
    />
  </div>
</div>
 -->
